/*CSS för raceschemat. Inte mycket stil men det fungerar*/

h1 {  
    font-size: 250%;
    margin-right: 5%;
    text-decoration: underline;
    margin: 2%;
}

table {
    border-collapse: collapse;
    margin: 20px;
    margin-right: 5%;
  }
  
  thead {
    background-color: white;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid gray;
    font-size: 150%;
  }
  
  th {
    font-weight: bold;
    font-size: 150%;
  }
  
  tbody tr:hover {
    background-color: white;
  }